# We have to ignore the rawdata, documentation, and data folder since we are not authorized to redistribute the data and this is a public repo

documentation/*.xls
rawdata/*.zip
rawdata/*.rdata
data/*.rdata
data/*.csv
.Rproj.user
